/* Border help 
    *{
        border: 1px solid black;
    }
*/

body{
    margin: 0px;
    height: 100%;
}

.topheader {
    border-bottom: 1px solid #cccccc;
}

.page-content, .navi {
    width: 960px;
    margin: auto;
}

footer {
    text-align: center;
    font-size: 10px;
    border-top: 5px solid teal;
    color: #ffffff;
    background-color: #666666;
    padding-top: 15px;
}

/* ****************** */
/* Navigation Styling */
/* ****************** */

.navi {
    overflow: auto;
    margin-top: 25px;
}

.navi a {
    text-decoration: none;
}

.navi a:hover {
    color: teal;
}

.name {
    float: left;
    padding: 20px;
    background-color: teal;
    font-size: 36px;
}

.name:hover {
    background-color: #ffffff;
}

.name:hover > a {
    color: teal;
}

.name > a {
    color: #ffffff;
}

nav {
    float: right;
    margin-top: 36px;
}

nav a {
    color: #666666;
    margin: 0 15px;
}

/* ****************** */
/* Main Page Styling  */
/* ****************** */


.background {
    background-image: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/beige_paper.png);
    padding: 30px;
    height: 100%;
}

.page-content {
    background-color: #ffffff;
    border: 2px solid #dddddd;
}

.page-content > header {
    color: teal;
    font-size: 36px;
}

.page-content > * {
    padding: 20px;
}

img {
    float: left;
    height:  200px;
    width: 200px;
    border-radius: 50%;
    transform: rotate(90deg);
}

/* ****************** */
/* Contact  Styling   */
/* ****************** */

input, textarea {
    box-sizing: content-box;
    width: 100%;
    margin: 8px auto;
    min-height: 14px;
}

textarea {
    min-height: 200px;
}

button {
    height: 30px;
    width: 100px;
    background-color: teal;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}

/* ****************** */
/* Portfolio Styling  */
/* ****************** */

.portfolio-content {
    overflow: auto;
}

.portfolio-project {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    float: left;
    margin: 60px;
}

.project-banner {
    margin-top: 80%;
    background-color: teal;
    padding: 5px;
    text-align: center;
    color: #ffffff;
}

.pj1 {
    background: url(../images/bigcity.jpg)
}

.pj2 {
    background: url(../images/foodproject.jpg)
}

.pj3 {
    background: url(../images/oceanproject.jpg)
}

.pj4 {
    background: url(../images/piggyproject.jpg)
}

.pj5 {
    background: url(../images/rhino.jpg)
}

/* Large Media queries */
@media screen and (max-width: 980px) {

    /* Shrink page */
    html, .navi, .page-content {
        width: 70%;
    }

    /* Shrink Navigation Bar */
    .navi {
        margin: 0px;
        width: 100%;
    }

    /* Move regular links right */
    nav {
        float: none;
        text-align: right;
    }

    /* Shrink portfolio  */
    .portfolio-project {
        width: 150px;
        height: 150px;
        margin: 5px;
    }
}

/* Medium Media queries */
@media only screen and (max-width: 768px) {
    
    /* Portfolio Images */

    .portfolio-project {
        height: 125px;
        width: 125px;
        overflow: auto;
    }
}

/* Small Media queries */
@media only screen and (max-width: 640px) {

    /* Navbar */

    .navi {
        margin: 0 75px;
    }

    .name {
        margin: 0 40px;
    }
    
    nav {
        float: left;
    }
    
    /* About me */
    img {
        float: none;
        margin: auto;
    }
}

